* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: 'Montserrat';
    color: #333;
    padding: 0 10vw;
}

.wadah {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5vh 0;
    font-size: 1em;
}

/* laptop */
/* @media (max-width: 610px) {
    html {
        font-size: 75%;
    }
} */